.blog-container {
    display: block;
    margin-top: 4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
.blog-column {
    float: left;
    position: relative;
    padding: 50px;
}
.blog-column img {
    opacity: 0.8;
    cursor: pointer;
}
.blog-column img:hover {
    opacity: 1;
}
.blog-row:after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 769px) and (max-width: 1200px) {
    .blog-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }
     .blog-column {
        padding: 10px;
    }
}
@media (min-width: 373px) and (max-width: 768px){
    .blog-container {
        margin: 2rem;
    }
    .blog-column {
        padding: 10px;
    }
    .blog-column img {
        width: 70%;
        height: auto;
    }
}
