
.flex-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin: 4rem 15rem;
    flex-wrap: wrap;
}
.main-box {
    width: 45%;
}   
.social-icons {
    list-style: none;
    width: 70%;
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    animation: fadeInDown 0.8s ease-out;        
}

.fa-facebook {
    font-size: 80px;
    color: blue;
    text-decoration: none;
   
}
.fa-github {
    font-size: 80px;
    color: black; 
    text-decoration: none;
}
.fa-instagram {
    font-size: 80px;
    color: red;
    text-decoration: none;
}
.fa-codepen {
    font-size: 75px;
    color: black;
    text-decoration: none;
}

.photo-box {
    animation: fadeInUp 0.6s ease-out backwards;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .flex-container {
        margin: 5rem;
    }
    .social-icons {
        width: 80%;
    }
}
@media (min-width: 373px) and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        margin: 2rem;
        align-items: center;
    }
    .main-box {
        width: 100%;
    }
    .social-icons {
        width: 80%;
        justify-content: center;
    }
    .fa-facebook, .fa-github, .fa-instagram, .fa-codepen {
        font-size: 60px;
    }
}