

.project-section {
    margin-top: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.project-card {
  /* background-color: rgba(230, 230, 230, 0.5); */
  border: 1px solid black;
  border-radius: 1rem;
  width: 350px;
  height: 400px;
  overflow: hidden;
}
.project-image {
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.project-image img:hover {
  transform: scale(1.1);
}

.project-content {
  padding: 1rem;
}
.project-content h2 {
  font-size: 25px;
}
.project-content p {
  font-size: 18px;
}
.skill-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: rgba(216, 216, 216, 0.5);
  padding: 0.3rem 0.6rem;
  border-radius: 0.6rem;
  font-size: 0.9rem;
}
.project-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}


@media (min-width: 769px) and (max-width: 1200px) {
  .project-section {
    margin: 5rem;
  }
}
@media (min-width: 373px) and (max-width: 768px) {
  .project-section {
    margin: 2rem;
  }
}