@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda&family=PT+Sans');
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
h1 {
    color: hotpink !important;
    font-family: "Abril Fatface", serif;
    
}
p {
    color: black;
    font-family: "PT Sans", serif;
    font-style: normal;
    font-size: 21px;
}
h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    font-style: normal;
    color: blueviolet !important;
}
h3 {
    font-size: 25px;
    color: blueviolet !important;
}
#lead-paragraph {
    color: blueviolet;
    font-weight: bold;
}
.my-picture {
    border-radius: 8%;
}
.passions {
    font-size: 21px;
    font-family: "PT Sans", serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.blue-text {
    color: blue;
}
/* NavBar */
.custom-navbar {
    background-color: hotpink;
    padding: 1rem;
}
.custom-brand {
    color: white !important;
    font-size: 1.8rem !important;
    font-family: "PT Sans", serif;
    font-weight: bold;
    margin-left: 1em;
}
.custom-link {
    font-size: 1.3rem !important;
    font-family: "PT Sans", serif;
    color: black !important;
}
.nav-link.active {
  color: white !important;
}
.custom-link:hover {
    text-decoration: underline;
}
.navbar-toggler {
  border-color: white !important;
  margin-right: 1em;
}

/* Lesson01 Page */
.lesson01-box {
    display: block;
    margin-top: 4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
aside a {
    text-decoration: none;
    color: blue;
    font-size: 21px;
  }
  aside a:hover {
    text-decoration: underline;
    background-color: pink;
  }
  aside a:visited {
    color: hotpink;
  }
  .projects {
    font-size: 21px;
  } 
  aside li {
    color: hotpink;
    font-size: 21px;
  }
  .aside-icon-park {
    border: 1px solid black;
    padding: 5px;
    width: 300px;
    height: 200px;
    text-align: justify;  
  }
  .photo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
  }
  .tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
.iconpark-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
}
/* Footer */
.custom-footer {
  background-color: hotpink;
  font-size: 14px;
    color: white;
    font-family: monospace;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .lesson01-box {
    margin: 5rem;
  }
}
@media (min-width: 373px) and (max-width: 768px) {
  .lesson01-box {
    margin: 2rem;
  }
  .photo-flex {
    flex-direction: column;
    align-items: center;
  }
  .iconpark-flex {
    flex-direction: column;
    align-items: center;
  }
}