@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda&family=PT+Sans');
h1 {
    color: hotpink;
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-size: 60px;
}
p {
    color: black;
    font-family: "PT Sans", serif;
    font-style: normal;
    font-size: 21px;
}
h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    font-style: normal;
    color: blueviolet;
}
h3 {
    font-size: 25px;
    color: blueviolet;    
}
#lead-paragraph {
    color: blueviolet;
    font-weight: bold;
}
.my-picture {
    border-radius: 8%;
}
.passions {
    font-size: 21px;
    font-family: "PT Sans", serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.blue-text {
    color: blue;
}
/* Index Page */
  .link-header {
    background-color: hotpink;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem;   
    text-align: right;
  }
  ul.menu {
    list-style: none;
    font-family: "PT Sans", serif;
    font-size: 22px;
    margin-right: 15rem;
  }
  ul.menu li {
    display: inline;
  }
  ul.menu li a {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
  ul.menu li a:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
 
 ul.menu li+li:before {
    padding: 12px;
    color: black;
    content: "|\00a0"
 }
.index-flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 6.4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
.main-box {
    padding: 1rem; 
}
.photo-box {
    padding: 1rem;
    position: relative;
}
.photo-of-me {
    display: block;
    border-radius: 8%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background-color: hotpink;
    border-radius: 8%;
}
.photo-box:hover .overlay {
    opacity: 1;
}
.text-photo-of-me {
    color: white;
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.index-column img {    
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 100px;
}  
.index-column img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}      
.index-row {
    content: "";
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 2rem;  
}
/* Blog Page */
.blog-container {
    display: block;
    margin-top: 4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
.blog-column {
    float: left;
    position: relative;
    padding: 50px;
}
.blog-column img {
    opacity: 0.8;
    cursor: pointer;
}
.blog-column img:hover {
    opacity: 1;
}
.blog-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Lesson01 Page */
.lesson01-box {
    display: block;
    margin-top: 4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
aside a {
    text-decoration: none;
    color: blue;
    font-size: 21px;
  }
  aside a:hover {
    text-decoration: underline;
    background-color: pink;
  }
  aside a:visited {
    color: hotpink;
  }
  .projects {
    font-size: 21px;
  } 
  aside li {
    color: hotpink;
    font-size: 21px;
  }
  .aside-icon-park {
    border: 1px solid black;
    padding: 5px;
    width: 300px;
    height: 200px;
    text-align: justify;  
  }
  .photo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
  }
  .tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
.iconpark-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
}
/* Footer */
.footer-copyright {
    background-color: hotpink;
    margin-top: 5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.01rem;   
    text-align: center;
}
.copyright {
    font-size: 14px;
    color: white;
    font-family: monospace;
}

/*Contact Page */
.social-icons {
    list-style: none;
    padding: 2rem;   
}
.fa-facebook {
    font-size: 80px;
    color: blue;
    float: right;
    position: relative;
    right: 25%;
    padding-bottom: 1rem;
    text-decoration: none;
   
}
.fa-github {
    font-size: 80px;
    color: black; 
    position: relative;
    left: 25%;
    padding-bottom: 1rem; 
    text-decoration: none;
}
.fa-instagram {
    font-size: 80px;
    color: red;
    float: right;
    position: relative;
    right: 25%;
    text-decoration: none;
}
.fa-envelope {
    font-size: 75px;
    color: rgb(189, 183, 183);
    position: relative;
    left: 25%;
    text-decoration: none;
}
